<div class="card" style="width: 18rem;">
  <img src="/img/products/no-pic.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">
        {{this.brand}} - {{this.name}}
    </h5>
    <p>${{this.price}}</p>
    <p class="card-text">{{this.shortDescription}}</p>
    <a href="/products/{{this.id}}" class="btn btn-warning">Ver más</a>
  </div>
</div>